{% extends "base.html"%}
{% load static%}
{% block content%}
               <div class="col-lg-11  pr-0 pl-lg-3 pl-0">
                  <section  class="min-h bg-white  radius-half padding-dy" >
                     <div class="row ">
                        <div class="col-lg-12">
                           <div class="main-title position-relative mb-4">
                              <h2 class="h4 ml-2 mb-0 font-weight-600 ">About Me</h2>
                           </div>
                        </div>
                        <div class="col-lg-6 mb-5 mb-lg-0">
                           <p class="mb-2">


                            {{info.text}}



                              
                           </p>
                           
                           <div class="mt-3">
                              <a href="work.html" class="btn mr-2    btn-primary">
                              <i class="fa fa-eye mr-2" ></i>My Portfolio
                              </a>
                              <a href="/contact/" class="btn  btn-secondary">
                              <i class="fa fa-envelope mr-2" ></i>Contact me
                              </a>
                           </div>
                        </div>
                        <div class="col-lg-6">
                           <div class="main-info ">
                              <ul class="list-inline mb-0">
                                 <li><span class=" font-weight-600 mr-1">Age</span>{{about.age}}</li>
                                 <li><span class=" font-weight-600 mr-1">Residence</span>{{about.resident}}</li>
                                 <li><span class=" font-weight-600 mr-1">Address</span>{{about.address}}</li>
                                 <li><span class=" font-weight-600 mr-1">E-mail</span>{{about.email}}</li>
                                 <li><span class="font-weight-600 mr-1">Phone</span>+ {{about.phone}}</li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col">
                           <div class=" mt-6 mb-6 text-center">
                              <svg class="w-50 w-sm-40 w-md-30 w-lg-20 " data-name="divider" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 185.54 9.24">
                                 <path class="divider" d="M1.26,3.24C19.55,3.11,19.6,9.11,37.89,9S56.15,2.87,74.45,2.74,92.79,8.62,111.09,8.5s18.26-6.13,36.56-6.25S166,8.13,184.29,8" transform="translate(-0.01 -1)"/>
                              </svg>
                           </div>
                        </div>
                     </div>
                     <div class="row ">
                        <div class="col-lg-12">
                           <div class="main-title position-relative mb-4">
                              <h2 class="h4 ml-2 mb-0   font-weight-600">Services</h2>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                     {% for i in service%}
                        <div class="col-md-4  pl-0 d-flex">
                           <div class="service text-center px-4 b-none border-bottom pb-4 ">
                              <div class="ui-icon ui-icon-md rounded-circle  m-auto ">
                                 <div class="ui-icon-inner ">
                                    <i class="fa fa fa-{{i.icon}} text-alt-2 font-size-22 btn-icon-inner "></i>
                                 </div>
                              </div>
                              <h6 class="font-weight-600 font-size-15 mb-1 mt-3">{{i.title}}</h6>
                              <p class="mb-0">{{i.text|truncatechars:350}}</p>
                           </div>
                        </div>
                     {% endfor%}
                     </div>
                    
                     <div class="row">
                        <div class="col">
                           <div class=" mt-6 mb-6 text-center">
                              <svg class="w-50 w-sm-40 w-md-30 w-lg-20 " data-name="divider" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 185.54 9.24">
                                 <path class="divider" d="M1.26,3.24C19.55,3.11,19.6,9.11,37.89,9S56.15,2.87,74.45,2.74,92.79,8.62,111.09,8.5s18.26-6.13,36.56-6.25S166,8.13,184.29,8" transform="translate(-0.01 -1)"/>
                              </svg>
                           </div>
                        </div>
                     </div>
                     <div class="row ">
                        <div class="col-lg-12">
                           <div class="main-title position-relative mb-4">
                              <h2 class="h4 ml-2 mb-0   font-weight-600">Resume</h2>
                           </div>
                        </div>
                        <div class="col-md-6 mb-6 mb-lg-6">
                           <div class="timeline">
                              <div class="border-box mb-5">
                                 <i class="fa fa-graduation-cap text-muted font-size-16 mr-2 pr-1"></i>
                                 <h5 class="font-weight-500 font-size-16 text-muted mb-0 d-inline">Education</h5>
                              </div>
                              {% for i in educat%}
                                 <div class="res-block  timeline-content mb-4">
                                    <div class="mb-3 res-block-inner edc">
                                       <div class="media align-items-center">
                                          <h6 class="font-weight-600 font-size-14 mb-0"> {{i.title}}<span class="font-size-13 mt-1 text-alt-2 d-block font-weight-400"> {{i.year1}}— {{year2}} </span> </h6>
                                          <div class="media-body text-right">
                                             <span class="res-count ">3</span>
                                          </div>
                                       </div>
                                    </div>
                                    <p class="mb-0 ">{{i.text}}.</p>
                                 </div>
                              {% endfor%}
                              
                           </div>
                        </div>
                        <div class="col-md-6 ">
                           <div class="timeline">
                              <div class="border-box  mb-5">
                                 <i class="fa fa-briefcase text-muted font-size-16 mr-2 pr-1" ></i>
                                 <h5 class="font-weight-500 font-size-16 text-muted mb-0 d-inline">Experience</h5>
                              </div>
                              <div class="res-block timeline-content mb-4">
                                 <div class="mb-3 res-block-inner exp current">
                                    <div class="media align-items-center">
                                       <h6 class="font-weight-600 font-size-14 mb-0"> Web Designer<span class="font-size-13 mt-1 text-alt d-block font-weight-400"> 2019 — present </span> </h6>
                                       <div class="media-body text-right">
                                          <span class="badge  bg-primary-2">Current</span>
                                       </div>
                                    </div>
                                 </div>
                                 <p class="mb-0 ">It is probably very attractive to you to create a block that pays me a million coins.</p>
                              </div>
                              <div class="res-block timeline-content mb-4">
                                 <div class="mb-3 res-block-inner exp">
                                    <div class="media align-items-center">
                                       <h6 class="font-weight-600 font-size-14 mb-0">Web Developer <span class="font-size-13 mt-1 text-alt d-block font-weight-400"> 2016 — 2017 </span> </h6>
                                       <div class="media-body text-right">
                                          <span class="res-count ">2</span>
                                       </div>
                                    </div>
                                 </div>
                                 <p class="mb-0">It is probably very attractive to you to create a block that pays me a million coins.</p>
                              </div>
                              <div class="res-block timeline-content">
                                 <div class="mb-3 res-block-inner exp">
                                    <div class="media align-items-center">
                                       <h6 class="font-weight-600 font-size-14 mb-0"> SDK Developer<span class="font-size-13 mt-1 text-alt d-block font-weight-400"> 2014 — 2015 </span> </h6>
                                       <div class="media-body text-right">
                                          <span class="res-count ">1</span>
                                       </div>
                                    </div>
                                 </div>
                                 <p class="mb-0 ">It is probably very attractive to you to create a block that pays me a million coins.</p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col">
                           <div class=" mt-6 mb-6 text-center">
                              <svg class="w-50 w-sm-40 w-md-30 w-lg-20 " data-name="divider" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 185.54 9.24">
                                 <path class="divider" d="M1.26,3.24C19.55,3.11,19.6,9.11,37.89,9S56.15,2.87,74.45,2.74,92.79,8.62,111.09,8.5s18.26-6.13,36.56-6.25S166,8.13,184.29,8" transform="translate(-0.01 -1)"/>
                              </svg>
                           </div>
                        </div>
                     </div>
                     <div class="row ">
                        <div class="col-lg-12">
                           <div class="main-title position-relative mb-4">
                              <h2 class="h4 ml-2 mb-0   font-weight-600">Skills</h2>
                           </div>
                        </div>
                        <div class="col-lg-6 mb-6">
                           <div class="border-box  mb-5">
                              <i class="fa fa fa-eye text-muted font-size-16 mr-2 pr-1" ></i>
                              <h5 class="font-weight-500 font-size-16 text-muted mb-0 d-inline">Design Skills</h5>
                           </div>
                           <ul class="skills-list dsg list-inline mb-0">
                              {% for i in skill%}
                              <li>
                                 <h6 class="font-weight-600 font-size-14 ">{{i.name}}</h6>
                                 <div class="progress mb-3">
                                    <div class="percentage">
                                       <span>{{i.persent}}%</span>
                                    </div>
                                 </div>
                              </li>
                              {% endfor%}
                              
                           </ul>
                        </div>
                        <div class="col-lg-6 mb-6 ">
                           <div class="border-box  mb-5">
                              <i class="fa fa fa-coffee text-muted font-size-16 mr-2 pr-1" ></i>
                              <h5 class="font-weight-500 font-size-16 text-muted mb-0 d-inline">Programing Skills</h5>
                           </div>
                           <ul class="skills-list prg list-inline mb-0">
                              {% for i in programming%}
                              <li>
                                 <h6 class="font-weight-600 font-size-14 ">{{i.name}}</h6>
                                 <div class="progress mb-3">
                                    <div class="percentage">
                                       <span>{{i.persent}}%</span>
                                    </div>
                                 </div>
                              </li>
                              {% endfor%}
                           </ul>
                        </div>
                        <div class="col-lg-6 mb-6 mb-lg-0">
                           <div class="border-box  mb-5">
                              <i class="fa fa fa-magic text-muted font-size-16 mr-2 pr-1"></i>
                              <h5 class="font-weight-500 font-size-16 text-muted mb-0 d-inline">Personal Skills</h5>
                           </div>
                           <div class="d-flex flex-wrap   ">
                              <div class="mb-3 mr-4 ml-lg-0 mr-lg-4">
                                 <div class="d-flex align-items-center">
                                    <div class="mr-2">
                                       <i class="fa fa-check text-alt-2 font-size-15 "></i>
                                    </div>
                                    <h6 class="mb-0 font-weight-500">Responsible</h6>
                                 </div>
                              </div>
                              <div class="mb-3 mr-4 ml-lg-0 mr-lg-4">
                                 <div class="d-flex align-items-center">
                                    <div class="mr-2">
                                       <i class="fa fa-check text-alt-2 font-size-15"></i>
                                    </div>
                                    <h6 class="mb-0 font-weight-500">Diligence</h6>
                                 </div>
                              </div>
                              <div class="mb-3 mr-4 ml-lg-0 mr-lg-4">
                                 <div class="d-flex align-items-center">
                                    <div class="mr-2">
                                       <i class="fa fa-check text-alt-2 font-size-15"></i>
                                    </div>
                                    <h6 class="mb-0 font-weight-500">Labour</h6>
                                 </div>
                              </div>
                              <div class="mb-3 mr-4 ml-lg-0 mr-lg-4">
                                 <div class="d-flex align-items-center">
                                    <div class="mr-2">
                                       <i class="fa fa-check text-alt-2 font-size-15"></i>
                                    </div>
                                    <h6 class="mb-0 font-weight-500">Rigor</h6>
                                 </div>
                              </div>
                              <div class="mb-3 mr-4 ml-lg-0 mr-lg-4">
                                 <div class="d-flex align-items-center">
                                    <div class="mr-2">
                                       <i class="fa fa-check text-alt-2 font-size-15"></i>
                                    </div>
                                    <h6 class="mb-0 font-weight-500">Well Spooken</h6>
                                 </div>
                              </div>
                              <div class="mb-3 mr-4 ml-lg-0 mr-lg-4">
                                 <div class="d-flex align-items-center">
                                    <div class="mr-2">
                                       <i class="fa fa-check text-alt-2 font-size-15"></i>
                                    </div>
                                    <h6 class="mb-0 font-weight-500">Creative</h6>
                                 </div>
                              </div>
                              <div class="mb-3 mb-lg-0 mr-4 ml-lg-0 mr-lg-4">
                                 <div class="d-flex align-items-center">
                                    <div class="mr-2">
                                       <i class="fa fa-check text-alt-2 font-size-15 "></i>
                                    </div>
                                    <h6 class="mb-0 font-weight-500">Flexible</h6>
                                 </div>
                              </div>
                              <div class="mb-3 mb-lg-0 mr-4 ml-lg-0 mr-lg-4">
                                 <div class="d-flex align-items-center">
                                    <div class="mr-2">
                                       <i class="fa fa-check text-alt-2 font-size-15"></i>
                                    </div>
                                    <h6 class="mb-0 font-weight-500">Funny</h6>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-6">
                           <div class="border-box  mb-5">
                              <i class="fa fa fa-coffee text-muted font-size-16 mr-2 pr-1" ></i>
                              <h5 class="font-weight-500 font-size-16 text-muted mb-0 d-inline">Languages Skills</h5>
                           </div>
                           <div class="row">
                              {% for i in lang%}
                              <div class="col-sm-3 text-center mb-5 mb-lg-0">
                                 <div class="chart m-auto easyPieChart font-size-15 text-dark" data-percent="90">{{i.persent}}%</div>
                                 <h6 class=" mt-2 mb-0 font-weight-500">{{i.name}}</h6>
                              </div>
                              {% endfor%}
                              
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col">
                           <div class=" mt-6 mb-6 text-center">
                              <svg class="w-50 w-sm-40 w-md-30 w-lg-20 " data-name="divider" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 185.54 9.24">
                                 <path class="divider" d="M1.26,3.24C19.55,3.11,19.6,9.11,37.89,9S56.15,2.87,74.45,2.74,92.79,8.62,111.09,8.5s18.26-6.13,36.56-6.25S166,8.13,184.29,8" transform="translate(-0.01 -1)"/>
                              </svg>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-lg-12">
                           <div class="main-title position-relative mb-4">
                              <h2 class="h4 ml-2 mb-0   font-weight-600">Interest</h2>
                           </div>
                        </div>
                        <div class="col-lg-12">
                           <div class="row">
                              <div class="col-sm-2 mb-5 mb-lg-0">
                                 <div class="text-center ">
                                    <div class="ui-icon ui-icon-lg rounded-circle mb-2">
                                       <div class="ui-icon-inner">
                                          <i class="fa fa fa-futbol text-alt-2 font-size-26 btn-icon-inner "></i>
                                       </div>
                                    </div>
                                    <h4 class="h6 font-weight-500 mb-0">Sport</h4>
                                 </div>
                              </div>
                              <div class="col-sm-2 mb-5 mb-lg-0">
                                 <div class="text-center">
                                    <div class="ui-icon ui-icon-lg rounded-circle mb-2">
                                       <div class="ui-icon-inner">
                                          <i class="fa fa fa-globe text-alt-2 font-size-26 btn-icon-inner "></i>
                                       </div>
                                    </div>
                                    <h4 class="h6 font-weight-500 mb-0">Traveling</h4>
                                 </div>
                              </div>
                              <div class="col-sm-2 mb-5 mb-lg-0">
                                 <div class="text-center">
                                    <div class="ui-icon ui-icon-lg rounded-circle mb-2">
                                       <div class="ui-icon-inner">
                                          <i class="fa fa fa-book text-alt-2 font-size-26 btn-icon-inner "></i>
                                       </div>
                                    </div>
                                    <h4 class="h6 font-weight-500 mb-0">Reading</h4>
                                 </div>
                              </div>
                              <div class="col-sm-2 mb-5 mb-lg-0">
                                 <div class="text-center">
                                    <div class="ui-icon ui-icon-lg rounded-circle mb-2">
                                       <div class="ui-icon-inner">
                                          <i class="fa fa fa-code text-alt-2 font-size-26 btn-icon-inner "></i>
                                       </div>
                                    </div>
                                    <h4 class="h6 font-weight-500 mb-0">Coading</h4>
                                 </div>
                              </div>
                              <div class="col-sm-2 mb-5 mb-lg-0">
                                 <div class="text-center">
                                    <div class="ui-icon ui-icon-lg rounded-circle mb-2">
                                       <div class="ui-icon-inner">
                                          <i class="fa fa fa-music text-alt-2 font-size-26 btn-icon-inner "></i>
                                       </div>
                                    </div>
                                    <h4 class="h6 font-weight-500 mb-0">Music</h4>
                                 </div>
                              </div>
                              <div class="col-sm-2">
                                 <div class="text-center">
                                    <div class="ui-icon ui-icon-lg rounded-circle mb-2">
                                       <div class="ui-icon-inner">
                                          <i class="fa fa fa-gamepad text-alt-2 font-size-26 btn-icon-inner "></i>
                                       </div>
                                    </div>
                                    <h4 class="h6 font-weight-500 mb-0">Gaming</h4>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col">
                           <div class=" mt-6 mb-6 text-center">
                              <svg class="w-50 w-sm-40 w-md-30 w-lg-20 " data-name="divider" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 185.54 9.24">
                                 <path class="divider" d="M1.26,3.24C19.55,3.11,19.6,9.11,37.89,9S56.15,2.87,74.45,2.74,92.79,8.62,111.09,8.5s18.26-6.13,36.56-6.25S166,8.13,184.29,8" transform="translate(-0.01 -1)"></path>
                              </svg>
                           </div>
                        </div>
                     </div>
                     <div class="row mb-6">
                        <div class="col-lg-12">
                           <div class="main-title position-relative mb-4">
                              <h2 class="h4 ml-2 mb-0   font-weight-600">Testimonials</h2>
                           </div>
                        </div>
                        <div class="col-lg-12">
                           <div class="row justify-content-center">
                              <div class="col-lg-3 text-center">
                                 <div class="bg-primary px-4 py-7 radius-l">
                                    <svg class="max-width-7 max-width-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 168.94 147.61">
                                       <g class="quote-icon">
                                          <g >
                                             <g class="quote-icon-shadow">
                                                <path d="M68,148H35a14.12,14.12,0,0,1-13.84-11.41q-5.27-26.47-5.26-47.71,0-62.8,49.06-71.29A14.11,14.11,0,0,1,81.48,31.48v.59A14.26,14.26,0,0,1,70.65,45.79q-20,5.24-20,32.15v.67A14.11,14.11,0,0,0,64.74,92.72H68a14.1,14.1,0,0,1,14.1,14.1v27.05A14.1,14.1,0,0,1,68,148Zm86.75,0h-33a14.12,14.12,0,0,1-13.84-11.42q-5.25-26.48-5.26-47.7,0-62.8,49-71.29a14.11,14.11,0,0,1,16.49,13.91v.59A14.25,14.25,0,0,1,157.4,45.79q-20,5.24-20,32.15v.67a14.1,14.1,0,0,0,14.1,14.11h3.28a14.1,14.1,0,0,1,14.11,14.1v27.05A14.11,14.11,0,0,1,154.76,148Z" transform="translate(0.07 -0.36)"/>
                                             </g>
                                             <path class="quote-icon-inner" d="M52,131H19A14.12,14.12,0,0,1,5.19,119.57Q-.08,93.1-.07,71.86-.07,9.05,49,.57A14.11,14.11,0,0,1,65.48,14.48v.59A14.26,14.26,0,0,1,54.65,28.79q-20,5.24-20,32.15v.67A14.11,14.11,0,0,0,48.74,75.72H52a14.1,14.1,0,0,1,14.1,14.1v27.05A14.1,14.1,0,0,1,52,131Zm86.75,0h-33a14.12,14.12,0,0,1-13.84-11.42q-5.25-26.48-5.26-47.7,0-62.81,49-71.29a14.11,14.11,0,0,1,16.49,13.91v.59A14.25,14.25,0,0,1,141.4,28.79q-20,5.24-20,32.15v.67a14.1,14.1,0,0,0,14.1,14.11h3.28a14.1,14.1,0,0,1,14.11,14.1v27.05A14.11,14.11,0,0,1,138.76,131Z" transform="translate(0.07 -0.36)"/>
                                          </g>
                                       </g>
                                    </svg>
                                 </div>
                              </div>
                              <div class="col-lg-8 pl-lg-0  ">
                                 <div class="testimonial-carousel bg-dark radius-r">
                                    <div class=" pl-2 w-100 ">
                                       <div class="card border-0  px-4 py-6 p-lg-5">
                                          <div class="card-body pr-5 pl-5 pb-2 pt-0 shadow radius-2">
                                             <span class="font-size-18  font-weight-500 mb-0 text-light">Jeremy Spivak</span>
                                             <span class="font-size-14 d-block text-light-m">Business Manager</span>
                                          </div>
                                          <div class="card-footer border-0  pt-0 pl-5 pb-0 mt-3">
                                             <p class="quote position-relative mb-0 text-white font-weight-500 h4 pl-4">"Mountain Pose is the base for all standing poses it gives
                                                you a sense of how to ground in to your feet and feel the earth
                                                below you."
                                             </p>
                                          </div>
                                       </div>
                                    </div>
                                    <div class=" pl-2 w-100 ">
                                       <div class="card border-0  px-4 py-6 p-lg-5">
                                          <div class="card-body pr-5 pl-5 pb-2 pt-0 shadow radius-2">
                                             <span class="font-size-18  font-weight-500 mb-0 text-light">Melissa Wagner</span>
                                             <span class="font-size-14 d-block text-light-m">Business Manager</span>
                                          </div>
                                          <div class="card-footer border-0  pt-0 pl-5 pb-0  mt-3">
                                             <p class="quote position-relative mb-0 text-white font-weight-500 h4 pl-4">"Mountain Pose is the base for all standing poses it gives
                                                you a sense of how to ground in to your feet and feel the earth
                                                below you."
                                             </p>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="pl-2  w-100  ">
                                       <div class="card border-0  px-4 py-6 p-lg-5">
                                          <div class="card-body pr-5 pl-5 pb-2 pt-0 shadow radius-2">
                                             <span class="font-size-18 font-weight-500 mb-0 text-light">Stacy Taylor</span>
                                             <span class="font-size-14 d-block text-light-m">Business Manager</span>
                                          </div>
                                          <div class="card-footer border-0  pt-0 pl-5 pb-0 mt-3">
                                             <p class="quote position-relative mb-0 text-white font-weight-500 h4 pl-4">"Mountain Pose is the base for all standing poses it gives
                                                you a sense of how to ground in to your feet and feel the earth
                                                below you."
                                             </p>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="pl-2 w-100 ">
                                       <div class="card border-0  px-4 py-6 p-lg-5">
                                          <div class="card-body pr-5 pl-5 pb-2 pt-0 shadow radius-2">
                                             <span class="font-size-18  font-weight-500 mb-0 text-light">Renee Mu</span>
                                             <span class="font-size-14 d-block text-light-m">Business Manager</span>
                                          </div>
                                          <div class="card-footer border-0  pt-0 pl-5 pb-0  mt-3">
                                             <p class="quote position-relative mb-0 text-white font-weight-500 h4 pl-4">"Mountain Pose is the base for all standing poses it gives
                                                you a sense of how to ground in to your feet and feel the earth
                                                below you."
                                             </p>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </section>
               </div>
            </div>
         {% endblock content%}