{% extends "base.html"%}
{% load static%}
{% block content%}
               <div class="col-lg-11  pr-0 pl-lg-3 pl-0">
                  <section class="min-h bg-white  radius-half  padding-dy  ">
                     <div class="row ">
                        <div class="col-lg-12">
                           <div class="main-title position-relative mb-4">
                              <h2 class="h4 ml-2 mb-0 font-weight-600 ">My Blog</h2>
                           </div>
                        </div>
                        {% for i in blog%}
                        <div class="col-md-6 col-lg-6 d-flex  mb-5">
                           <article>
                              <a class="d-block item radius-1" href="/views/{{i.pk}}">
                              <img class="d-block radius-1" src="{% static 'assets/img/blog/medium/1.jpg'%}" alt="Image"></a>
                              <div class="pt-3">
                                 <a class=" badge text-white" href="/views/{{i.pk}}">{{i.category}}</a>
                                 <h3 class="h6 font-weight-600 pt-1">
                                    <a class="" href="/views/{{i.pk}}">{{i.title}}</a>
                                 </h3>
                                 <a class="d-flex align-items-center text-dark" href="#">
                                    <img class="rounded-circle max-width-3" src="{{i.photo.url}}" alt="Image" >
                                    <div class="pt-2 pr-2 pl-2">
                                       <h6 class="font-weight-500 text-muted mb-1 font-size-14">{{i.name}}</h6>
                                       <div class="d-flex">
                                          <span class="mr-2 pr-1 font-size-12">
                                          <i class="fa fa-calendar-alt mr-1"></i>{{i.data}}</span>
                                          {% if comment%}
                                          <span class="font-size-13"><i class="fa fa-comment mr-1"></i>{{i.comments.count}}</span>

                                          {% else%}      
                                          <span class="font-size-13"><i class="fa fa-comment mr-1"></i>No comments</span>
                                          {% endif %}
                                       </div>
                                    </div>
                                 </a>
                              </div>
                           </article>
                        </div>
                        {% endfor%}
                        
                     </div>
                     <div class="row">
                        <div class="col">
                           <div class=" mt-6 mb-6 text-center">
                              <svg class="w-50 w-sm-40 w-md-30 w-lg-20 " data-name="divider" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 185.54 9.24">
                                 <path class="divider" d="M1.26,3.24C19.55,3.11,19.6,9.11,37.89,9S56.15,2.87,74.45,2.74,92.79,8.62,111.09,8.5s18.26-6.13,36.56-6.25S166,8.13,184.29,8" transform="translate(-0.01 -1)"></path>
                              </svg>
                           </div>
                        </div>
                     </div>
                     <div class="row mb-6">
                        <div class="col text-center  mb-2 mb-lg-0">
                           <a href="blog-full.html" class=" btn  btn-primary    z-index-1">
                           <i class="fa fa-angle-right mr-2"></i>View all blog post
                           </a>
                        </div>
                     </div>
                  </section>
               </div>
            </div>
        {% endblock content%}

